
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


.logo{
  display: flex;
  float: left;
  margin-left: 15%;
}
.right-but{
  display: flex;
  float: right;
  margin-right: 30%;
}
.main-nav{
  margin-top: 15px;
  width: 80%;
  height: 60px;
    /* background-color: aqua; */
}

.login{
  /* margin-top: 7px; */
  /* padding:10px 10px 20px 10px;
  font-weight:700; */

font-size: 20px;
width: 125px;

height: 35px;
text-align: center;
padding-top: 5px;
border: 2px solid #ECECEC;
border-radius: 2px;
opacity: 1;


  /* margin-right: 50px;
  padding: 20px 50px;
  border: 5px solid #ECECEC;
  height: 60px;
display: flex;
justify-content: center;
  width: 229px;font-size: 34px;
  
  border-radius: 6px;
  opacity: 1; */

}
.nav-parts
{
  padding-top: 5px;
}
.get-app{
  margin-left: 50px;
  margin-right: -350px;
  /* padding: 10px 50px; */
  color: #ffffff;
  width: 125px;
  text-align: center;
  padding-top: 7px;
  font-size: 20px;

  background: #0F6AF4 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

}
.text-intro-1{
  

  
  font-family: 'Roboto', sans-serif;text-align: left;
font-weight: bold;
letter-spacing: 2.88px;
color: #08121C; 
font-size: 30px;
opacity: 1;
}
.intro-main{
margin-top: -50px;

width: 100%;
height: 1080px;
/* 
background: transparent url('images/introbg.png') 0% 0% no-repeat padding-box; */
opacity: 1;
}

.bgimg{
  background: transparent url('images/introbg.png') 0% 0% no-repeat padding-box;
background-size: 114rem;
background-position: 63rem;}
.intro-text{
  display: flex;
  float: left;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 15%;
}
.mid-img-intro{
  display: flex;
  margin-top: 15%;
  float: right;
  margin-right: 13%;
  width: 690px;
  height: 448px;
  background: transparent url('images/intromob.png') 0% 0% no-repeat padding-box;
  opacity: 1;

}

.text-intro-2{
  width: 414px;
  height: 103px;
  /* UI Properties */
  text-align: left;
  font: normal normal 900 78px/142px Roboto;
  letter-spacing: 1.56px;
  color: #4472F1;
  opacity: 1;
  padding-bottom:10px ;
}
.text-intro-3{
 

width: 555px;
height: 268px;

text-align: left;
font: normal normal normal 30px/50px Roboto;
letter-spacing: 0.6px;
color: #08121C;
opacity: 1;
margin-top: 50px;
font-weight: 200;
}


/* about page style start here */

.about-main{
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  float: left;
  margin-top: 10%;

}
.about-img{
  display: flex;
  margin-right: 15%;
float: right;
opacity: 1;
margin-top: 10%;
height: 45%;

}
.about{
  width: 100%;
  height: 1080px;
  
}
.about-main h2{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
.about-text{display: flex;
  width: 444px;
  height: 421px;
font-weight: 300;  text-align: left;
  font: normal normal normal 20px/34px Roboto;
  letter-spacing: 0.48px;
  color: #737373;
  opacity: 1;
  }
/* about page style ends here */


.answer-main{
  display: flex;
  flex-direction: column;
  align-items: center;  width: 1920px;
height: 1319px;
/* UI Properties */
background: #EAF1FD 0% 0% no-repeat padding-box;
opacity: 1;

}



.text-ans1{
margin-top: 5%;
  width: 70%;
  height: 165px;
  font-size: 30px;
  /* UI Properties */
  text-align: center;
  font: normal normal bold 52px/67px Roboto;
  letter-spacing: 2px;
  color: #3D3D3D;
  opacity: 1;
  
}

.im-ans{
  width: 920px;
height: 499px;
}
.text-ans2{
  
  width: 920px;
  height: 135px;
  /* UI Properties */
  text-align: center;
  font: normal normal normal 20px/34px Roboto;
  letter-spacing: 0.48px;
  color: #737373;
  opacity: 1;
  
}

.text-ans3{
  margin-top: 2%;
  width: 920px;
height: 135px;
  text-align: center;
  font: normal normal normal 20px/34px Roboto;
  letter-spacing: 0.48px;
  color: #737373;
  opacity: 1;
  

}
.Container{
  margin: 0;
  background-color: aqua;
  width: 100%;
  height: 100vh;
}
